{% load static %}{% load cache %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--Bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!--FontAwesome-->
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}" />

    <!--Titulo da pagina (Caso se houver)-->
    {% if title %}
    <title>CLD - {{title}}</title>
    {% else %}
    <title>Criptografia</title>
    {% endif %}
  </head>
  <body>
    <div class="content">
      {% block nav %} {% endblock %} {% block content %} {% endblock %}
    </div>
  </body>
</html>
