{% extends "base.html" %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-6">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder text-white mb-2">
            IPE - Trabalho Criptografia
          </h1>
          <p class="lead text-white-50 mb-4">
            Projeto criado com o framework DJANGO e as funções de criptografia e descriptografia feitos em Python!
          </p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#cifras"
              >Cifras</a
            >
            <a
              class="btn btn-outline-light btn-lg px-4"
              href="https://vs.dev.br"
              >Portfólio</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="cifras">
  <div class="container px-5 my-5">
    <div class="row gx-5">
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
          <i class="bi bi-collection"></i>
        </div>
        <h2 class="h4 fw-bolder">Cifras de Bifid</h2>
        <p>
          Trata-se de uma combinação entre cifras de substituição e de fracionamento.
        </p>
        <a class="btn btn-primary" href="#!">
          Call to action
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
  <div class="container px-5">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
  </div>
</footer>
{% endblock %}
